* {
   border: 0;
   margin: 0;
   padding: 0;
	
}

/*-------------------------GENERAL CSS---------------------------*/

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

:root {
	--readWhite: #F9FAF8;
	--darkRedBg: #860D0D;
	--bgBlack: #121212;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

/*------------------------HOVER/FOCUS/ACTIVE---------------------*/

a:hover, a:focus {
	text-decoration: underline;
}

.division {
	transition: 0.4s;
}

.division:hover {
	transform:scale(1.1);
	box-shadow: 0em 0.1em 1em 0em;
}

.download-btn:active, .register-btn:active {
	box-shadow: 0 0 0 0;
	transform: translateY(0.3em);
	transition: 0.02s;
}

.github-logo:hover {
	transform:rotate(720deg);
	transition: 0.4s;
}

.links-list li a:hover {
	background-color: var(--darkRedBg);
}

/*---------------------------------------------------------------*/

/*----------------320px----------------*/

@media all and (min-width: 320px) {

	p {
		font-size: 0.9em;
	}

	.navigation {
		width: 100%;
		background-color: var(--bgBlack);
	}

	.header {
		width: 100%;
		background-color: var(--darkRedBg);
		padding-top: 0.5em;
	}

	.navigation {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.logo-fig {
		width: 80% !important;
		padding-bottom: 0.5em;
		padding-top: 0.5em;
	}

	.links-list {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		padding-bottom: 1em;
	}

	.links-list li a {
		color: var(--readWhite);
		text-decoration: none;
		padding-top: 0.2em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-bottom: 0.5em;
	}

	.about-li {
		border-left: 1px solid var(--darkRedBg);
		border-right: 1px solid var(--darkRedBg);
	}

	.header-fig {
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.behind-img {
		display: none;
	}

	.figure, .img {
		width: 100%;
	}

	.header-section {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		padding-bottom: 1em;
	}

	.header-section h1 {
		font-family: 'Cardo', serif;
	}

	.header-section h1, .header-section h2 {
		text-align: center;
		color: var(--readWhite);
	}

	.header-section h1 {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}

	.header-section h2 {
		font-size: 1em;
		font-weight: 400;
	}

	.header-btn {
		display: none;
	}

	.principal {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: hsl(0, 0%, 95%);
	}

	.items-section {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.collection-title {
		text-decoration: underline;
		font-family: 'Card', serif;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.items-article {
		width: 100%;
		display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.division {
		width: 85%;
		max-width: 85%;
		height: 20em;
		display: flex; flex-direction: column; justify-content: space-between; align-items: center;
		background-color: burlywood;
		margin-bottom: 1.5em;
		padding-bottom: 1em;
		border-radius: 1em;
		overflow: hidden;
		box-shadow: 0em 0.05em 0.2em 0em;
	}

	.author-fig {
		width: 100%;
	}

	.author-fig img {
		width: 100%;
		height: 10em;
	}

	.author-name {
		font-family: 'Cardo', serif;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.author-quote {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		font-size: 0.8em;
		opacity: 0.9;
		margin-bottom: 1em;
	}

	.author-quote q {
		width: 90%;
		font-style: italic;
	}

	.download-btn {
		width: 85%;
		background-color: var(--darkRedBg);
		font-family: 'Roboto', sans-serif;
		color: var(--readWhite);
		border-radius: 0.5em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		box-shadow: 0em 0.3em 0.3em 0em black;
	}

	#index-quote {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: bisque;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	#index-quote blockquote {
		width: 85%;
		text-align: justify;
	}

	.index-quote-p {
		margin-bottom: 1em;
		font-family: 'Cardo', serif;
		font-style: italic;
	}

	.signature {
		text-align: right;
		font-family: 'Cardo', serif;
	}

	.register-section {
		width: 100%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: whitesmoke;
		padding-top: 1em;
		padding-bottom: 1em;
		margin-bottom: 1em;
	}

	.register-box {
		width: 90%;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		background-color: burlywood;
		padding-top:1em;
		padding-bottom: 1em;
		border-radius: 0.5em;
		box-shadow: 0em 0.15em 0.2em 0em black;
	}

	.register-box article {
		width: 90%;
		text-align: center;
		margin-bottom: 1em;
	}

	.register-title {
		font-size: 1em;
		margin-bottom: 0.5em;
		text-decoration: underline;
	}

	.div-register-btn {
		width: 90%;
	}

	.register-btn {
		width: 100%;
		background-color: var(--darkRedBg);
		color: white;
		padding-top: 0.7em;
		padding-bottom: 0.7em;
		border-radius: 0.5em;
		box-shadow: 0em 0.3em 0.2em 0em black;
	}

	.footer {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		background-color: var(--bgBlack);
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.dev-signature {
		width: 90%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		text-align: center;
		color: var(--readWhite);
	}

	.dev-signature a {
		color: bisque;
		font-family: 'Cardo', serif;
	}

	.github-link {
		width: min-content;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		margin-left: 0.8em;
	}

	.github-logo {
		width: 20%;
		fill: white !important;
		padding-bottom: 0.1em;
		margin-left: 0.2em;
	}
}

/*-------------END: 320px--------------*/

/*----------------480px----------------*/

@media all and (min-width: 480px) {

	.header {
		display: flex; flex-direction: column; justify-content: center; align-items: center;
	}

	.logo-fig {
		width: 60% !important;
	}

	.header-section {
		width: 80%;
		text-align: center;
	}

	.division {
		width: 65%;
	}

	.register-section {
		width: 80%;
	}

	.register-box {
		width: 80%;
	}
}

/*-------------END: 480px--------------*/

/*----------------576px----------------*/

@media all and (min-width: 576px) {

	.logo-fig {
		width: 75%;
	}

	.division {
		width: 55%;
	}

	.index-quote-p {
		font-size: 1em;
	}

}

/*-------------END: 576px--------------*/

/*----------------768px----------------*/

@media all and (min-width: 768px) {

	.logo-fig {
		width: 50% !important;
	}

	.header-section {
		padding-top: 0.5em;
	}

	.collection-title {
		width: 80%;
		text-align: left;
		font-size: 1.5em;
	}

	.items-article {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.division {
		width: 35%;
	}

	.register-section {
		width: 70%;
	}

}

/*-------------END: 768px--------------*/

/*----------------960px----------------*/

@media all and (min-width: 960px) {

	.logo-fig {
		width: 40% !important;
	}

	.collection-title {
		width: 70%;
	}

	.items-article {
		width: 90%;
	}

	.division {
		width: 33.5%;
	}

	.register-section {
		width: 60%;
	}

	#index-quote {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	#index-quote blockquote {
		width: 75%;
	}
	
}

/*-------------END: 960px--------------*/

/*----------------1024px----------------*/

@media all and (min-width: 1024px) {

	.navigation {
		flex-direction: row; justify-content: space-around; align-items: center;
	}

	.logo-fig {
		width: 25% !important;
		padding-top: 1em;
	}

	.links-list {
		width: 30%;
		padding-bottom: 0;
		border-radius: 2em;
		overflow: hidden;
	}

	.links-list li {
		width: 100%;
		display: flex; flex-direction: row; justify-content: center; align-items: center;
		text-align: center;
	}

	.links-list li a {
		width: 100%;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.header {
		flex-direction: row; justify-content: center; align-items: center;
		padding-bottom: 2.5em; 
	}

	.header-section {
		width: 35%;
	}

	.header-section h1, .header-section h2 {
		width: 100%;
		text-align: left !important;
	}

	.header-fig {
		width: 25%;
		position: relative;
	}

	.front-img {
		z-index: 10;
	}

	.behind-img {
		display: initial;
		position: absolute;
		left: 10%;
		top: 10%;
		z-index: 1;
	}

	.items-article {
		width: 80%;
	}

	.division {
		width: 33.5%;
	}

	.lovecraft-box, .borges-box {
		margin-bottom: 2.5em;
	}

	#index-quote {
		position: relative;
		margin-bottom: 5em;
	}

	#dickens-quote::before {
		content: '';
		background-image: url("../img/background-for-quote.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 12em;
		padding-bottom: 12em;
		opacity: 0.8;
	}

	#dickens-quote {
		width: 60%;
	}

	.index-quote-p {
		line-height: 2em;
		font-size: 1.7em;
		font-weight: 700;
		position: relative;
		margin-top: 1em;
	}

	.signature {
		font-size: 1.7em;
		font-weight: 700;
		position: relative;
	}

	.register-section {
		width: 50%;
	}
}
/*-------------END: 1024px--------------*/

/*----------------1200px----------------*/

@media all and (min-width: 1200px) {

	.items-article {
		width: 65%;
		padding-bottom: 1.5em;
	}

	.division {
		height: 21em;
	}

	.lovecraft-box, .borges-box {
		margin-bottom: 1.5em;
	}
}

/*-------------END: 1200px--------------*/

/*----------------1280px----------------*/

@media all and (min-width: 1280px) {

	.header-section {
		width: 40%;
	}

	.items-article {
		width: 95%;
		flex-wrap: nowrap;
	}

	.division {
		width: 20%;
	}

	.author-quote q {
		width: 80%;
	}

	#index-quote {
		margin-bottom: 7em !important;
	}

	.register-section {
		width: 40%;
		margin-bottom: 2em;
	}
}

/*-------------END: 1280px--------------*/

/*----------------1366px----------------*/

@media all and (min-width: 1366px) {

	.logo-fig {
		width: 15% !important;
	}
	
	.division {
		width: 18%;
	}

}

/*-------------END: 1366px--------------*/